ctransformers==0.2.27
Django==5.1.2
django-summernote==0.8.20.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
langchain-community==0.3.7
pinecone-client==5.0.1
python-dotenv==1.0.1
sentence-transformers==3.3.0 
huggingface_hub==0.26.2
psycopg2-binary==2.9.10
dj-database-url==2.3.0
brotli==1.1.0
whitenoise==6.8.2
uvicorn==0.16.0
gunicorn==23.0.0